@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
body{
    background-image: url(https://c1.wallpaperflare.com/preview/984/962/468/sunglasses-black-and-white-ray-bans-fashion.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.main_div{
    width: 350px;
    height: 400px;
    background-position: center;
    margin-left: 40%;
    margin-top: 180px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgb(167, 168, 168); 
    background-color: white; 
    
}
input{
    margin-top: 30px;
    width: 250px;
    height: 40px;
    
    border: none;
    outline: none;
   border-bottom: 1px solid rgb(17, 17, 17);
   font-size: 17px;
  margin-left: 15px;
  padding: 20px;
}

 input[type="submit"]{
    background-color:black;
   border-bottom: none;
   font-family: arial black;
   color: white;
   text-align: center;
   padding: 15px 15px 40px 10px; 
   width: 200px;
   margin-left: 50px;
   cursor: pointer;
   font-family: 'Poppins',sans-serif;
   font-weight: bolder;
   

   
 }
 .heding{
    font-size: 20px;
   align-items: center;
   color: black;
   font-family: 'Poppins',sans-serif;
   
} 
